<div class="slider-light text-light text-center pt-3">
  <div class="form-group pb-4">
    <h4><i class="fas fa-headset mr-2"></i>Soporte de Oficina</h4>
    <p>Lunes a Viernes de 09:00 a 14:00hrs y 15:00 a 18:00hrs.</p>
    <p>Teléfono: +52 (33) 3344-4580</p>
    <p>
      ** Zona Horaria/Time Zone: (UTC-06:00) Guadalajara, Ciudad de México, Monterrey
      **
    </p>
  </div>
  <div class="form-group">
    <h4><i class="fas fa-mobile-alt mr-2"></i>Emergencias 24 horas</h4>
    <p>Fuera del horario de oficina </p>
    <p>Teléfono: +52 (33) 1601-6182</p>
  </div>
  <div class="form-group pb-3">
    <h4><i class="fas fa-mail-bulk mr-2"></i>soporte@sihoteles.com</h4>
  </div>
  <div class="form-group pb-3">
    <a href="https://www.facebook.com/SiHoteles" target="_blank" class="text-light">
      <i class="fab fa-facebook fa-2x m-2" aria-hidden="true"></i>
    </a>
    <!-- <a href="" class="text-light" target="_blank">
      <i class="fab fa-instagram fa-2x m-2" aria-hidden="true"></i>
    </a> -->
    <a href="https://twitter.com/sihotelesmx" class="text-light" target="_blank">
      <i class="fab fa-twitter fa-2x m-2" aria-hidden="true"></i>
    </a>
    <a href="https://sihoteles.com/Programa-Para-Hoteles" class="text-light">
      <i class="fas fa-globe fa-2x m-2" aria-hidden="true"></i>
    </a>

  </div>
  <div class="text-center opacity-8 mt-3">
    Copyright © 2020 Sistemas Inteligentes para Hoteles
  </div>
</div>