.circle-icon {
    border: solid 2px lightgrey;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 85px;
    vertical-align: middle;

    font-size: 64px;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    /* background-image: url('assets/images/hotel.jpg'); */
    background-size: cover;
    background-position: center;
}
